<div class="footer">
  <div class="bloc">
    <div class="column logo">
      <img src="../../assets/images/indepergo-logo.png" alt="Logo IndepErgo">
    </div>
    <div class="column adress">
      <h1>Dennis Burssens</h1>
      <p>Vlierbeekberg 36 <br> 3090 Overijse</p>
      <p><a href="tel:+32499758959">+32499758959</a></p>
      <p><a href="mailto:dennisburssens@gmail.com">dennisburssens@gmail.com</a></p>
    </div>
    <div class="column social-media">
      <span><a href="https://www.instagram.com/indepergo/" target="_blank">Instagram</a></span>
      <span><a href=""></a></span>
    </div>
  </div>
  <div class="bloc">
    <p class="copyright">Copyright@2021 <br> Designed & developped by Cindy Jacob for <a href="https://www.qscar.be" target="_blank">Qscar</a></p>
  </div>
</div>